<?php
    $image = 'http://img.dev/2015/01/13/68592fa0bde2b88d61f32923349d5e63.jpg';
?>
<img src="<?php echo $image?>" id="image"><br/>
<a target="_blank" href="<?php echo($this->Html->url('/images/crop/' . base64_encode($image)))?>" alt="Crop image">Crop</a>