.fl {
	float: left;
	clear: none;
	margin-top: 10px;
}
.form-table {
	width: 100%;
}
.checkbox_item {
	width: 20px;
}
.social {
    z-index: 1000;
}
.social_item {
    float: left;
    padding-left:15px;    
}
.fb_like_box iframe {
    min-height: 215px !important;
    margin-left: 1px;
}
#wrapper .secBottom .facebook {    
    height: auto;
    max-height: 325px;    
}