@charset "utf-8";
/* CSS Document */
* {
    padding: 0px;
    margin: 0px;
    border: none;
    word-break: break-all;
}
body {
    font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 13px;
    color: #000000;
    line-height: 24px;
    zoom: 1;
}
li {
    list-style: none;
}
div {
    display: block;
}
.clear {
    clear: both;
}
img {
    background-size: 100%;
}
.taC {
    text-align: center;
}
.taL {
    text-align: left;
}
.taR {
    text-align: right;
}
.W80Per {
    width: 80%;
}
.W90Per {
    width: 90%;
}
.W100Per {
    width: 100%;
}
.fL {
    float: left;
}
.fR {
    float: right;
}
.hide {
    display:none;
}
/* ======= wrapper ======= */
#wrapper {
    width: 95.625%;
    margin: 2.187%;
    background: #ffffff;/*background:#f0c3d6;*/
}
/* ======= header ======= */
#header, #content01, #content02, #content03, #content04, #news{
    width: 100%;
    background: #f0c3d6;
    margin-bottom: 2.187%;
}
#header {
    width: 100%;
    display: block;
    padding: 4.375% 0;
    text-align: center;
    vertical-align: middle;
    background: #f0c3d6;
}
#header img {
    vertical-align: middle;
    width: 100%;
}
#mn_tab01, #mn_tab02, #mn_tab03, #mn_tab04 {
    background: #f0c3d6;
    margin-bottom: 2.187%;
}
#mn_tab01.mB0, #mn_tab02.mB0, #mn_tab03.mB0, #mn_tab04.mB0 {
    margin-bottom:0px !important;
}
#mn_tab01 img, #mn_tab02 img, #mn_tab03 img, #mn_tab04 img {
    width: 100%;
}
/* ======= content 01 ======= */
.content {
    display: none;
}
#content01 {
    position: relative;
}
#content01 .left {
    position:relative;
    margin-left: 4.375%;
    width: 53.715%;
    max-height: 669px;
    margin-right: 2.187%;
    float:left;
}
#content01 .left img{
    width: 100%;
}
#content01 .left .bookmark {
    position:absolute;
    top:-5%;
    left:72%;
    width:30%;
}
#content01 .left .bookmark img {
    width:100%;
}
#content01 .right {
    margin-right: 4.375%;
    width:32%;
    float:right;

}
#content01 .right li {
    width: 40px;
    height: 40px;
    float: left;
    text-indent: -9999px;
    margin: 0px 16% 18px 0px;
    cursor: pointer;
}
#content01 .right li.item01 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_01.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item02 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_02.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item03 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_03.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item04 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_04.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item05 {   
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_05.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item06 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_06.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item07 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_07.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item08 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_08.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item09 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_09.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item10 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_10.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item11 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_11.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item12 {
    width: 40px;
    height: 40px;
    background: url(../images/sp/ico_12.png) 0px 0px no-repeat;
    background-size: 100%;
}
#content01 .right li.item02, #content01 .right li.item04, #content01 .right li.item06, #content01 .right li.item08, #content01 .right li.item10, #content01 .right li.item12 {
    float: right;
    margin-right: 0px;
}
#content01 .right li.item11, #content01 .right li.item12 {
    margin-bottom: 0px;
}


#content02 .left {
    margin-left: 4.375%;
    width: 53.715%;
    margin-right: 2.187%;
    float:left;
}
#content02 .left img {
    width:100%;
}
#content02 .right {
    margin-right: 4.375%;
    width:34%;
    float:right;

}
#content02 .right ul {
    background: url(../images/sp/bg_lang.png) 0px 0px no-repeat;
    background-size:100%;
    margin-top:70%;
}

#content02 .right li {
    margin:0 auto;
    width:60%;
    margin-left:24%;
    margin-bottom:6%;
}
#content02 .right li a {
}
#content02 .right li img {
    width:100%;
}


#content03 .left {
    margin-left: 4.375%;
    width: 53.715%;
    margin-right: 2.187%;
    float:left;
}
#content03 .left img {
    width:100%;
}
#content03 .right {
    margin-right: 4.375%;
    width:34%;
    float:right;

}
#content03 .right img {
    margin-top:70%;
    width:100%;
}


#content04 .left {
    margin-left: 4.375%;
    width: 53.715%;
    margin-right: 2.187%;
    float:left;
}
#content04 .left img {
    width:100%;
}
#content04 .right {
    margin-right: 4.375%;
    width:34%;
    max-height: 669px;
    float:right;

}
#content04 .right img {
    margin-top:70%;
    width:100%;
}
.show {
    display: block;
}


/* ======= section ======= */
.section {
    clear:both;
    margin: 0 4.375%;
    padding: 2.187% 0;
}
.section.end {
    margin-bottom:0px;
}
.section .facebook {
    width:100%;
}

.social {
    width:40%;
    vertical-align:middle;
}
.social .like {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 100%;
    background: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.social .roll01 {
    margin-bottom:15px;
}
.social .roll01, .social .roll02 {
    line-height:100%;
}
.social .roll01 .img, .social .roll01 .like, .social .roll02 .img, .social .roll02 .like {
    display:inline-block; float:left; margin-right:6px;
}
.social .roll01 .img img, .social .roll02 .img img{
}
.social .roll01 .img {
    width:55%;
}
.social .roll02 .img{
    width:38%;
}
.social .roll01 .img img, .social .roll02 .img img{
    width:100%;
}
.apple, .googlePlay {
    width:48%;
}
.producted img, .apple img, .googlePlay img {
    width:100%;
}
.producted {
    width:60%;
    vertical-align:bottom; 
    text-align:right;
}
.producted img{
    margin-top:10px;
}
.tBottom img {
    width:100%;
}
/* ======= news ======= */
#news {
    font-size:18px;
    margin-bottom:0px;
}
#news .title {
    margin-bottom:4.375%;
    padding-top:5px;
}

#news li {
    margin-bottom:2.187%;
}
#news li:last-child {
    margin-bottom:0px;
}
#news li a {
    text-decoration:none;
    color:#000;
}
#news li span {
    margin-right:4.375%;
}
.facebook img {
    width:100%;
}
/* ======= link to top ======= */
#wrapper #news a {
    color: #000;
    text-decoration: none;
}
#linkTop {
    text-align:right;
    width:100%;
    background: #f0c3d6;
    padding-bottom:0 !important;
}
#linkTop .section img{
    width:30px;
    height:14px;
}
#wrapper .secBottom .facebook {
    position: absolute;
    top: 0px;
    right: 2px;
    width: 390px;
    height: 336px;
    background:#FFF;
}
.copyright {
    margin:0px auto;
    font-size:14px;
    color:#FFF;
    text-align:center;
    padding:5px;
    background: #f0c3d6;
}