@charset "utf-8";
/* CSS Document */
* {
    padding: 0px;
    margin: 0px;
    border: none;
    word-break: break-all;
}
body {
    font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 13px;
    color: #000000;
    line-height: 24px;
    background: #fff;

    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
li {
    list-style: none;
}
.clear {
    clear: both;
}
.displayNone {
    display: none;
}
/* ======= wrapper ======= */
#pink_Wrapper{
    border:12px solid #FFF;
    background: #ffc4d9;
    min-width: 1250px;  
}
#wrapper {
    position: relative;
    width: 1180px;
    padding: 36px 40px 0px 40px;
    margin: 0px auto;
}
/* ======= secLeft ======= */
#wrapper .secLeft {
    width: 430px;
    height: 820px;
    float: left;
    margin-bottom: 9px;
    padding:5px 0px 0px 0px;
}
#wrapper .secLeft ul {
    width: 425px;
    height: 420px;
    margin: 34px 0px 0px 0px;
    background: url(../images/bg_tab.png) 2px -5px no-repeat;
}
#wrapper .secLeft li a {
    float: left;
    width: 208px;
    height: 214px;
    text-indent: -9999px;
}
#wrapper .tabAll li .tab01 {
    width: 208px;
    height: 214px;
    background: url(../images/mn_tab_01.png) -5px 5px no-repeat;
}
#wrapper .tabAll li .tab01:hover {
    background: url(../images/mn_tab_01_o.png) -5px 5px no-repeat;
}
#wrapper .tabAll li .tab01.active {
    background: url(../images/mn_tab_01_o.png) -5px 5px no-repeat;
}
#wrapper .tabAll li .tab02 {
    width: 208px;
    height: 214px;
    background: url(../images/mn_tab_02.png) 20px 4px no-repeat;
}
#wrapper .tabAll li .tab02:hover {
    background: url(../images/mn_tab_02_o.png) 20px 4px no-repeat;
}
#wrapper .tabAll li .tab02.active {
    background: url(../images/mn_tab_02_o.png) 20px 4px no-repeat;
}
#wrapper .tabAll li .tab03 {
    width: 208px;
    height: 214px;
    margin:0px 0px 0px 0px;
    background: url(../images/mn_tab_03.png) -5px 13px no-repeat;
}
#wrapper .tabAll li .tab03:hover {
    background: url(../images/mn_tab_03_o.png) -5px 13px no-repeat;
}
#wrapper .tabAll li .tab03.active {
    background: url(../images/mn_tab_03_o.png) -5px 13px no-repeat;
}
#wrapper .tabAll li .tab04 {
    width: 216px;
    height: 214px;
    background: url(../images/mn_tab_04.png) 20px 13px no-repeat;
}
#wrapper .tabAll li .tab04:hover {
    background: url(../images/mn_tab_04_o.png) 20px 13px no-repeat;
}
#wrapper .tabAll li .tab04.active {
    background: url(../images/mn_tab_04_o.png) 20px 13px no-repeat;
}
/* ======= section Right ======= */
#wrapper .secRight {
    float:right;
    position:relative;
    overflow:hidden;
    width: 730px;
    height: 820px;
    background: url(../images/bg_iphone.png) 9px 44px no-repeat;
}
#wrapper .secRight .producted {
    position:absolute;
    bottom:2px;
    right:-15px;
    margin:0px 0px 0px 0px;
}
#wrapper .secRight .social {
    position:absolute;
    top:0;
    left:50px;
    vertical-align: middle;
}
.social span, .social img {
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}
.social .like {
    padding: 3px 10px;
    font-size: 11px;
    line-height: 100%;
    background: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right:5px;
}
#wrapper .secRight #tab01,
#wrapper .secRight #tab02,
#wrapper .secRight #tab03,
#wrapper .secRight #tab04 {
    position: relative;
    width: 730px;
    min-height: 707px;
    overflow:hidden;
}
/* ======= Tab 01 ======= */
#wrapper .secRight .imgMain {
    position: absolute;
    top: 125px;
    left: 28px;
    width: 286px;
    height: 505px;
}
#tab01 .tab01Right .imgText02 {
    margin:0px 0px 0px -1px;
}
#tab01 .tab01Right,
#tab02 .tab02Right,
#tab03 .tab03Right,
#tab04 .tab04Right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 355px;
}
#tab01 .tab01Right ul {
    margin-top: 29px;
    margin-bottom: 2px;
}
#tab01 .tab01Right li {
    width: 102px;
    height: 102px;
    float: left;
    text-indent: -9999px;
    margin: 0px 24px 24px 0px;
    cursor: pointer;
}
#tab01 .tab01Right li.item01 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_01.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item01:hover {
    background: url(../images/ico_01_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item02 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_02.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item02:hover {
    background: url(../images/ico_02_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item03 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_03.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item03:hover {
    background: url(../images/ico_03_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item04 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_04.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item04:hover {
    background: url(../images/ico_04_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item05 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_05.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item05:hover {
    background: url(../images/ico_05_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item06 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_06.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item06:hover {
    background: url(../images/ico_06_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item07 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_07.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item07:hover {
    background: url(../images/ico_07_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item08 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_08.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item08:hover {
    background: url(../images/ico_08_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item09 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_09.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item09:hover {
    background: url(../images/ico_09_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item10 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_10.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item10:hover {
    background: url(../images/ico_10_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item11 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_11.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item11:hover {
    background: url(../images/ico_11_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item12 {
    width: 102px;
    height: 102px;
    background: url(../images/ico_12.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item12:hover {
    background: url(../images/ico_12_o.png) 0px 0px no-repeat;
}
#tab01 .tab01Right li.item03,
#tab01 .tab01Right li.item06,
#tab01 .tab01Right li.item09,
#tab01 .tab01Right li.item12 {
    margin-right: 0px;
}
#wrapper .secRight .appStore {
    position: absolute;
    left: 9px;
    bottom: 19px;
}
#wrapper .secRight .appStore a {
    margin-right: 15px;
}
#wrapper .secRight .appStore a:hover {
    opacity:0.7;
}
/* ======= Tab 02 ======= */
#tab02 .tab02Right .content {
    width: 280px;
    height: 353px;
    margin: 69px auto 60px auto;
    padding: 0px 20px 0px 0px;
    background: url(../images/bg_lang.png) 0px 0px no-repeat;
}
#tab02 .tab02Right .imgText04 {
    margin:0px 0px 0px -4px;
}
#tab02 .tab02Right .content ul {
}
#tab02 .tab02Right .content ul li {
    text-indent: -9999px;
    width: 168px;
    height: 95px;
    margin: 0px 0px 34px 68px;
    cursor: pointer;
}
#tab02 .tab02Right .content ul li.english {
    width: 168px;
    height: 95px;
    background: url(../images/ico_lang_english.png) 0px 0px no-repeat;
}
#tab02 .tab02Right .content ul li.english:hover {
    background: url(../images/ico_lang_english.png) 0px -95px no-repeat;
}
#tab02 .tab02Right .content ul li.china {
    width: 168px;
    height: 95px;
    background: url(../images/ico_lang_china.png) 0px 0px no-repeat;
}
#tab02 .tab02Right .content ul li.china:hover {
    background: url(../images/ico_lang_china.png) 0px -95px no-repeat;
}
#tab02 .tab02Right .content ul li.japan {
    width: 168px;
    height: 95px;
    background: url(../images/ico_lang_japan.png) 0px 0px no-repeat;
}
#tab02 .tab02Right .content ul li.japan:hover {
    background: url(../images/ico_lang_japan.png) 0px -95px no-repeat;
}
/* ======= Tab 03 ======= */
#tab03 .tab03Right .content {
    margin: 40px auto 30px auto;
}
/* ======= Tab 04 ======= */

/* ======= bottom ======= */
#wrapper .secBottom {
    clear: both;
    position: relative;
    min-height: 338px;
    background: url(../images/bg_logo_large.png) -5px 0px no-repeat;
}
#wrapper .secBottom #news {
    position: absolute;
    top: 17px;
    left: 200px;
    max-width: 580px;
}
#wrapper .secBottom #news .title {
    font-size: 29px;
    margin-bottom: 23px;
}
#wrapper .secBottom #news a {
    color: #000;
    text-decoration: none;
}
#wrapper .secBottom #news a:hover {
    color: #F06;
}
#wrapper .secBottom #news .date-col {
    width: 100px; float:left;
    font-size: 16px;
    letter-spacing:-0.2px;
    padding-right: 5px;
}
#wrapper .secBottom #news .date-col div, #wrapper .secBottom #news .title-col div {
    margin-bottom: 19px;
}
#wrapper .secBottom #news .title-col {
    width: 470px; float: right;
    font-size: 16px;
    letter-spacing:-0.2px;
}
#wrapper .secBottom .facebook {
    position: absolute;
    top: 0px;
    right: 2px;
    width: 390px;
    height: 325px;
    background:#FFF;
}
.copyright {
    position:absolute;
    left:8px;
    bottom:7px;
    font-size:11px;
    color:#FFF;
    line-height:100%;
}