@charset "utf-8";
/* CSS Document */

@media screen and (min-device-width: 320px) and (max-device-width: 360px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 2.187%;
        float:left;
    }

    #content01 .right {
        margin-right: 4.375%;
        width:32%;
        float:right;

    }
    #content01 .right li {
        width: 40px;
        height: 40px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 14% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01,#content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
    .social .like {
        padding: 2px 3px;
        font-size: 10px;
        line-height: 100%;
        background: #FFF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .social .roll01 {
        margin-bottom:8px;
    }
    .social .roll01, .social .roll02 {
        line-height:100%;
    }
    .social .roll01 .img, .social .roll01 .like, .social .roll02 .img, .social .roll02 .like {
        display:inline-block; float:left; margin-right:3px;
    }
    .social .roll01 .img img, .social .roll02 .img img{
    }
    .social .roll01 .img {
        width:55%;
    }
    .social .roll02 .img{
        width:38%;
    }
    .social .roll01 .img img, .social .roll02 .img img{
        width:100%;
    }
    /* ======= news ======= */
    #news {
        font-size:10px;
        margin-bottom:0px;
        line-height:120%;
    }
    #news .title {
        padding-top:5px;
        margin-bottom:5px;
        line-height:120%;
    }

    #news li {
        margin-bottom:10px;
    }
    #news li:last-child {
        margin-bottom:0px;
    }
    #news li a {
        text-decoration:none;
        color:#000;
    }
    #news li span {
        margin-right:0px;
    }
    .copyright {
        font-size:8px;
    }
}
/* --- 320 --- 360 --- */
@media screen and (device-width: 360px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 2.187%;
        float:left;
    }

    #content01 .right {
        margin-right: 4.375%;
        width:32%;
        float:right;

    }
    #content01 .right li {
        width: 48px;
        height: 48px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 14% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01,#content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
    /* --- 360 --- */
}
@media screen and (min-device-width: 361px) and (max-device-width: 375px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 2.187%;
        float:left;
    }
    #content01 .right {
        margin-right: 4.375%;
        width:32%;
        float:right;

    }
    #content01 .right li {
        width: 46px;
        height: 46px;
        float: left;
        text-indent: -9999px;
        margin: 0px 8% 14% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01,#content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
    .social .like {
        padding: 2px 3px;
        font-size: 11px;
        line-height: 100%;
        background: #FFF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .social .roll01 {
        margin-bottom:10px;
    }
    .social .roll01, .social .roll02 {
        line-height:100%;
    }
    .social .roll01 .img, .social .roll01 .like, .social .roll02 .img, .social .roll02 .like {
        display:inline-block; float:left; margin-right:6px;
    }
    .social .roll01 .img img, .social .roll02 .img img{
    }
    .social .roll01 .img {
        width:55%;
    }
    .social .roll02 .img{
        width:38%;
    }
    .social .roll01 .img img, .social .roll02 .img img{
        width:100%;
    }
    /* ======= news ======= */
    #news {
        font-size:11px;
        margin-bottom:0px;
        line-height:120%;
    }
    #news .title {
        padding-top:10px;
        margin-bottom:10px;
        line-height:120%;
    }

    #news li {
        margin-bottom:10px;
    }
    #news li:last-child {
        margin-bottom:0px;
    }
    #news li a {
        text-decoration:none;
        color:#000;
    }
    #news li span {
        margin-right:5px;
    }
    .copyright {
        font-size:9px;
    }
}
@media screen and (device-width: 375px){
    /* STYLES HERE */
    #content01 .right {
        margin-right: 4.375%;
        width:32%;
        float:right;

    }
    #content01 .right li {
        width: 50px;
        height: 50px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 14% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01,#content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
}
@media screen and (min-device-width: 376px) and (max-device-width: 414px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 2.187%;
        float:left;
    }

    #content01 .right {
        margin-right: 4.375%;
        width:32%;
        float:right;

    }
    #content01 .right li {
        width: 50px;
        height: 50px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 14% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01,#content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
    .social .like {
        padding: 3px 6px;
        font-size: 11px;
        line-height: 100%;
        background: #FFF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .social .roll01 {
        margin-bottom:15px;
    }
    .social .roll01, .social .roll02 {
        line-height:100%;
    }
    .social .roll01 .img, .social .roll01 .like, .social .roll02 .img, .social .roll02 .like {
        display:inline-block; float:left; margin-right:5px;
    }
    .social .roll01 .img img, .social .roll02 .img img{
    }
    .social .roll01 .img {
        width:55%;
    }
    .social .roll02 .img{
        width:38%;
    }
    .social .roll01 .img img, .social .roll02 .img img{
        width:100%;
    }
    /* ======= news ======= */
    #news {
        font-size:11px;
        margin-bottom:0px;
        line-height:120%;
    }
    #news .title {
        padding-top:10px;
        margin-bottom:10px;
        line-height:120%;
    }

    #news li {
        margin-bottom:10px;
    }
    #news li:last-child {
        margin-bottom:0px;
    }
    #news li a {
        text-decoration:none;
        color:#000;
    }
    #news li span {
        margin-right:5px;
    }
    .copyright {
        font-size:11px;
    }
}
@media screen and (device-width: 414px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 2.187%;
        float:left;
    }

    #content01 .right {
        margin-right: 4.375%;
        width:33%;
        float:right;

    }
    #content01 .right li {
        width: 57px;
        height: 57px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 12% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01,#content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
}
@media screen and (min-device-width: 415px) and (max-device-width: 480px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 2.187%;
        float:left;
    }

    #content01 .right {
        margin-right: 4.375%;
        width:33%;
        float:right;

    }
    #content01 .right li {
        width: 57px;
        height: 57px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 12% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01,#content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
    .social .like {
        padding: 3px 6px;
        font-size: 11px;
        line-height: 100%;
        background: #FFF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .social .roll01 {
        margin-bottom:15px;
    }
    .social .roll01, .social .roll02 {
        line-height:100%;
    }
    .social .roll01 .img, .social .roll01 .like, .social .roll02 .img, .social .roll02 .like {
        display:inline-block; float:left; margin-right:5px;
    }
    .social .roll01 .img img, .social .roll02 .img img{
    }
    .social .roll01 .img {
        width:55%;
    }
    .social .roll02 .img{
        width:38%;
    }
    .social .roll01 .img img, .social .roll02 .img img{
        width:100%;
    }
    /* ======= news ======= */
    #news {
        font-size:11px;
        margin-bottom:0px;
        line-height:120%;
    }
    #news .title {
        padding-top:10px;
        margin-bottom:10px;
        line-height:120%;
    }

    #news li {
        margin-bottom:10px;
    }
    #news li:last-child {
        margin-bottom:0px;
    }
    #news li a {
        text-decoration:none;
        color:#000;
    }
    #news li span {
        margin-right:5px;
    }
    .copyright {
        font-size:11px;
    }
}
@media screen and (device-width: 480px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 2.187%;
        float:left;
    }

    #content01 .right {
        margin-right: 4.375%;
        width:33%;
        float:right;

    }
    #content01 .right li {
        width: 66px;
        height: 66px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 12% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01,#content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
    .social .like {
        padding: 4px 8px;
        font-size: 14px;
        line-height: 100%;
        background: #FFF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .social .roll01 {
        margin-bottom:15px;
    }
    .social .roll01, .social .roll02 {
        line-height:100%;
    }
    .social .roll01 .img, .social .roll01 .like, .social .roll02 .img, .social .roll02 .like {
        display:inline-block; float:left; margin-right:6px;
    }
    .social .roll01 .img img, .social .roll02 .img img{
    }
    .social .roll01 .img {
        width:55%;
    }
    .social .roll02 .img{
        width:38%;
    }
    .social .roll01 .img img, .social .roll02 .img img{
        width:100%;
    }

    /* ======= news ======= */
    #news {
        font-size:13px;
        margin-bottom:0px;
        line-height:120%;
    }
    #news .title {
        padding-top:10px;
        margin-bottom:10px;
        line-height:120%;
    }

    #news li {
        margin-bottom:10px;
    }
    #news li:last-child {
        margin-bottom:0px;
    }
    #news li a {
        text-decoration:none;
        color:#000;
    }
    #news li span {
        margin-right:10px;
    }
    .copyright {
        font-size:11px;
    }
}
@media screen and (min-device-width: 481px) and (max-device-width: 560px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 1.187%;
        float:left;
    }

    #content01 .right {
        margin-right: 4.375%;
        width:34%;
        float:right;

    }
    #content01 .right li {
        width: 70px;
        height: 70px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 10% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01,#content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
    .social .like {
        padding: 4px 8px;
        font-size: 14px;
        line-height: 100%;
        background: #FFF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .social .roll01 {
        margin-bottom:15px;
    }
    .social .roll01, .social .roll02 {
        line-height:100%;
    }
    .social .roll01 .img, .social .roll01 .like, .social .roll02 .img, .social .roll02 .like {
        display:inline-block; float:left; margin-right:6px;
    }
    .social .roll01 .img img, .social .roll02 .img img{
    }
    .social .roll01 .img {
        width:55%;
    }
    .social .roll02 .img{
        width:38%;
    }
    .social .roll01 .img img, .social .roll02 .img img{
        width:100%;
    }
    /* ======= news ======= */
    #news {
        font-size:14px;
        margin-bottom:0px;
        line-height:120%;
    }
    #news .title {
        padding-top:10px;
        margin-bottom:10px;
        line-height:120%;
    }

    #news li {
        margin-bottom:10px;
    }
    #news li:last-child {
        margin-bottom:0px;
    }
    #news li a {
        text-decoration:none;
        color:#000;
    }
    #news li span {
        margin-right:5px;
    }
    .copyright {
        font-size:11px;
    }
}
@media screen and (min-device-width: 561px) and (max-device-width: 639px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 1.187%;
        float:left;
    }

    #content01 .right {
        margin-right: 4.375%;
        width:34%;
        float:right;

    }
    #content01 .right li {
        width: 82px;
        height: 82px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 10% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01, #content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
    .social .roll01 img, .social .roll02 img {
        margin-bottom:5px;
    }
    /* ======= news ======= */
    #news {
        font-size:16px;
        margin-bottom:0px;
        line-height:120%;
    }
    #news .title {
        padding-top:15px;
        margin-bottom:15px;
        line-height:120%;
    }

    #news li {
        margin-bottom:15px;
    }
    #news li:last-child {
        margin-bottom:0px;
    }
    #news li a {
        text-decoration:none;
        color:#000;
    }
    #news li span {
        margin-right:5px;
    }
    .copyright {
        font-size:12px;
    }
}
@media screen and (min-device-width: 640px){
    /* STYLES HERE */
    #content01 {
        position: relative;
    }
    #content01 .left {
        margin-left: 4.375%;
        width: 53.715%;
        margin-right: 1.187%;
        float:left;
    }
    #content01 .right {
        margin-right: 4.375%;
        width:34%;
        float:right;

    }
    #content01 .right li {
        width: 82px;
        height: 82px;
        float: left;
        text-indent: -9999px;
        margin: 0px 9% 10% 0px;
        cursor: pointer;
    }
    #content01 .right li.item01, #content01 .right li.item02, #content01 .right li.item03, #content01 .right li.item04, #content01 .right li.item05, #content01 .right li.item06, #content01 .right li.item07, #content01 .right li.item08, #content01 .right li.item09, #content01 .right li.item10, #content01 .right li.item11, #content01 .right li.item12 {
        width: 45%;
        height: 0px;
        padding-top: 45%;
        background-size: 100%;
    }
    .social .roll01 img, .social .roll02 img {
        margin-bottom:5px;
    }
    /* ======= news ======= */
    #news {
        font-size:16px;
        margin-bottom:0px;
        line-height:120%;
    }
    #news .title {
        padding-top:15px;
        margin-bottom:15px;
        line-height:120%;
    }

    #news li {
        margin-bottom:15px;
    }
    #news li:last-child {
        margin-bottom:0px;
    }
    #news li a {
        text-decoration:none;
        color:#000;
    }
    #news li span {
        margin-right:5px;
    }
    .copyright {
        font-size:12px;
    }
}