.fl {
	float: left;
	clear: none;	
}
.fr {
	float: right;
	clear: none;	
}
.mt5 {
    margin-top: 5px;
}
#users_index .mt5 {
    float: left;
    margin-right: 10px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.form-table {
    width: 100%;
}
.checkbox_item {
    width: 20px;
}
.col-xs-120 {
    width: 98%;
    margin: 0 auto;
}
.col-xs-120 .form-group {
	width: 46%;
	float: left;
	margin-left: 36px;
}
.searchFormLabel {
    width: 100%;
}
#searchForm .pull-right {
    margin-right: 45px;
}
.ml5 {
    margin-left: 5px;
}
.mr8 {
    margin-right: 8px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}
.paging_bootstrap {
    margin-top: -8px;
}
.pagination { 
    margin-top: 8px;
    margin-right: 2px;
	float: right;
}
.control-label {
    color: #f39c12;
}
.cls {	
    clear: both;
}
.form-body {	
    clear: both;
}
.button-group {
    margin-top: 22px;
}
.submit {
    margin-right: 5px;
    float: left;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    display: block;
    width: 100%;
    height: 33px;	
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    right: -2px;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    min-width: 100%;
    background: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.form-control {
    height: 36px;
}
.Hidden
{
    display: None;
}
.Show
{
    display: block;
}
.input-required {
	color: #f56954;
	margin-left: 1px;
	font-size: 11px;
}
.td_textarea textarea {
	width: 99%;
	height: 80px;
	padding: 4px;
}
.td_select select {
	padding: 2px;
}
.td_input_text input {
	width: 99%;
	padding: 4px;
}
#dialog {
	
}

/* - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — 
     for capture
- - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — */
.form-box{
  margin: 40px auto 0 auto;
}
.form-box .header{
  padding: 10px;
  background-color: #e61874;
}

/* - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — 
    Skin teppan
- - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — */
.bg-teppan-red{
  background-color: #e61874!important;
  color           : #f9f9f9!important;  
}

.bg-teppan{
  background-color: #fabedc!important;
  color           : #f9f9f9!important;  
}

.skin-teppan a{
  color: #cd1549;
}
/* skin-teppan navbar */
.skin-teppan .navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e53162;
}
.skin-teppan .navbar .nav a {
  color: #444;
}
.skin-teppan .navbar .nav > li > a:hover,
.skin-teppan .navbar .nav > li > a:active,
.skin-teppan .navbar .nav > li > a:focus,
.skin-teppan .navbar .nav .open > a,
.skin-teppan .navbar .nav .open > a:hover,
.skin-teppan .navbar .nav .open > a:focus {
  background: #ffffff;
  color: #999999;
}
.skin-teppan .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-teppan .navbar .sidebar-toggle .icon-bar {
  background: #e53162;
}
.skin-teppan .navbar .sidebar-toggle:hover .icon-bar {
  background: #999999 !important;
}
/* skin-teppan logo */
.skin-teppan .logo {
  background-color: #fabedc;
  color: #f9f9f9;
}
.skin-teppan .logo > a {
  color: #f9f9f9;
}
.skin-teppan .logo:hover {
 /* background: #f6c7cb;*/
}
/* skin-teppan content header */
.skin-teppan .right-side > .content-header {
  background: transparent;
  box-shadow: none;
}
/* Skin-red user panel */
.skin-teppan .user-panel > .image > img {
  border: 1px solid #fabedc;
}
.skin-teppan .user-panel > .info,
.skin-teppan .user-panel > .info > a {
  color: #5a5a5a;
}
/* skin-teppan sidebar */
.skin-teppan .sidebar {
  border-bottom: 1px solid #fabedc;
}
.skin-teppan .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fabedc;
  border-bottom: 0px solid #fabedc;
}
.skin-teppan .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #fabedc;
}
.skin-teppan .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 0px solid #fabedc;
}
.skin-teppan .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-teppan .sidebar > .sidebar-menu > li > a:hover,
.skin-teppan .sidebar > .sidebar-menu > li.active > a {
  color: #e53162;
/*  background: #f6c7cb;*/
}
.skin-teppan .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #fabedc;
}
.skin-teppan .left-side {
  background: #fabedc;
}
.skin-teppan .sidebar a {
  color: #5a5a5a;
}
.skin-teppan .sidebar a:hover {
  text-decoration: none;
}
.skin-teppan .treeview-menu > li > a {
  color: #5a5a5a;
}
.skin-teppan .treeview-menu > li.active > a,
.skin-teppan .treeview-menu > li > a:hover {
  color: #e53162;
  /*background-color: #f6c7cb;*/
}
.skin-teppan .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #555;
  margin: 10px 10px;
}
.skin-teppan .sidebar-form input[type="text"],
.skin-teppan .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0 solid rgba(255, 255, 255, 0.1);
  height: 35px;
  outline: none;
}
.skin-teppan .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-teppan .sidebar-form input[type="text"]:focus,
.skin-teppan .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #f6c7cb;
  border: 0;
}
.skin-teppan .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left: 0;
}
.skin-teppan .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
  border-left: 0;
}

.skin-teppan .btn.btn-primary {
  background-color: #E53162;
  border-color: #CD1549;
}



/* - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — 
    Skin Caputer
- - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — */
.bg-capture-red{
  background-color: #e61874!important;
  color           : #f9f9f9!important;  
}

.bg-capture{
  background-color: #122a88!important;
  color           : #f9f9f9!important;  
}
/* skin-capture navbar */
.skin-capture .navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}
.skin-capture .navbar .nav a {
  color: #444;
}
.skin-capture .navbar .nav > li > a:hover,
.skin-capture .navbar .nav > li > a:active,
.skin-capture .navbar .nav > li > a:focus,
.skin-capture .navbar .nav .open > a,
.skin-capture .navbar .nav .open > a:hover,
.skin-capture .navbar .nav .open > a:focus {
  background: #ffffff;
  color: #999999;
}
.skin-capture .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-capture .navbar .sidebar-toggle .icon-bar {
  background: #122a88;
}
.skin-capture .navbar .sidebar-toggle:hover .icon-bar {
  background: #999999 !important;
}
/* skin-capture logo */
.skin-capture .logo {
  background-color: #122a88;
  color: #f9f9f9;
}
.skin-capture .logo > a {
  color: #f9f9f9;
}
.skin-capture .logo:hover {
  background: #1232b3;
}
/* skin-capture content header */
.skin-capture .right-side > .content-header {
  background: transparent;
  box-shadow: none;
}
/* Skin-red user panel */
.skin-capture .user-panel > .image > img {
  border: 1px solid #1232b3;
}
.skin-capture .user-panel > .info,
.skin-capture .user-panel > .info > a {
  color: #eee;
}
/* skin-capture sidebar */
.skin-capture .sidebar {
  border-bottom: 1px solid #1232b3;
}
.skin-capture .sidebar > .sidebar-menu > li {
  border-top: 1px solid #122288;
  border-bottom: 0px solid #122288;
}
.skin-capture .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #122288;
}
.skin-capture .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 0px solid #122288;
}
.skin-capture .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-capture .sidebar > .sidebar-menu > li > a:hover,
.skin-capture .sidebar > .sidebar-menu > li.active > a {
  color: #f6f6f6;
  background: #1232b3;
}
.skin-capture .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #1232b3;
}
.skin-capture .left-side {
  background: #122a88;
}
.skin-capture .sidebar a {
  color: #eee;
}
.skin-capture .sidebar a:hover {
  text-decoration: none;
}
.skin-capture .treeview-menu > li > a {
  color: #ccc;
}
.skin-capture .treeview-menu > li.active > a,
.skin-capture .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-capture .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #555;
  margin: 10px 10px;
}
.skin-capture .sidebar-form input[type="text"],
.skin-capture .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0 solid rgba(255, 255, 255, 0.1);
  height: 35px;
  outline: none;
}
.skin-capture .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-capture .sidebar-form input[type="text"]:focus,
.skin-capture .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #1232b3;
  border: 0;
}
.skin-capture .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left: 0;
}
.skin-capture .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
  border-left: 0;
}
.nomarlText
{
    font-weight:200 !important;
    cursor: pointer;
}
.box .chat .news-feed-item-detail>.message .comment {
    float: left;
}
.box .chat .news-feed-item-detail>.message .date {
	font-size: 12px;
	font-style: italic;
    margin-top: 5px;
    margin-bottom: -5px;
	clear: both;
	float: left;
}
.fa-likes-o {
	background-image: url(../img/clap_off_@3x.png);
}
.fa-likes {
	background-image: url(../img/clap_on_@3x.png);
}

.badge-custom {
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 5px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.graph button {
    background: #428bca !important;
    border-color: #428bca !important;
    padding: 1px 4px !important;
}

/* Tag template */
.post-wrap {
    position: relative;
    height: 22px;
    border-radius: 4px 4px 4px 4px;
    background-color: #eef;
    float: left;
    color: #000000;
    margin: 1px 1px 1px 2px;
    padding:1px 0 0 3px;
    border: 1px solid #ddd;
}

.delete-button{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 4px 4px 4px 4px;
    height: 20px;
    width: 20px;
    overflow: auto;
    display:none;
}
.post-wrap:hover .delete-button{
    display:inherit;
}
.button-delete {
	cursor: pointer;
	float: right;
	height: 20px;
	width: 20px;
	padding: 1px 0 1px 0;
	border-radius: 4px 4px 4px 4px;
	background-color: #eef;
	border: 0;
}
.button-delete i {
	margin: 0;
	padding: 0;
}

.tag-wrapper{
    float: left;
    width: 100%;
   
}
.tag-wrapper:hover {
    background: #eee;
} 

.tag-select{
    padding: 0 2px 0 2px;
    height: 20px;
    display: none;
    border-radius: 4px;
    color: #6e7e91;
    float: left;
    height: auto;
    margin: 2px 2px 2px 1px;
    padding-left: 1px;
    position: relative;
}
.tag-select select{
    height: 20px;
}

.tag-plus{
    width: 20px;
    cursor: pointer;
    border-radius: 4px;
    color: #6e7e91;
    height: auto;
    float: left;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 2px;
    padding-left: 1px;
    position: relative;
    float: right;
}
.crop-img {
    float: right;
    margin-right: 2px;
    margin-top: 3px;
}
.other-box {
    margin: 0px auto 0 auto;
}
.other-box {
    width: 100%;
}
.body-other {
    background: #fff;
}
.property.tags .tags-icon {
    background-image: url(https://app.asana.com/-/static/apps/asana/media/sprite.png?1420778355);
    background-position: -498px -1699px;
    background-repeat: no-repeat;
    height: 14px;
    vertical-align: text-bottom;
}
.sidebar .sidebar-menu {
	margin-bottom: 30px;
}
.resendUrl {
    text-decoration: underline;
    margin-top: 8px;
}
.paging_sumary {
	float: right;
	display: inline-block;
	padding-right: 8px;
	margin-top: 15px;
}
.fb_like_box iframe {
    min-height: 214px !important;
}