<img src="http://l.f14.img.vnecdn.net/2015/01/15/chu-cho-hanh-phuc-nhat-the-gioi-danh-bai-benh-ung-thu-1421292941_490x294.jpg" id="image">
<br/><br/>
<form method="post">
  <input type="text" name="x1" value="" />
  <input type="text" name="y1" value="" />
  <input type="text" name="x2" value="" />
  <input type="text" name="y2" value="" />
  <input type="text" name="width" value="" />
  <input type="text" name="height" value="" />
  <input type="submit" name="submit" value="Submit" />
</form>

<script>
$(document).ready(function () { alert(1);
    init();
});
</script>