/*!
 *   Journal Admin v1
 *   Author:
!*/

// Media control
//---------------------------------
@media (min-width: 1200px) {
  .news-feeds-image {
    margin-left: 45px;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
   .news-feed-detail {
	  width:96% !important;
	  }
}

@media (max-width: 560px) {
  .news-feeds-image {
    margin-left: 0px;
    margin-right: 0px!important;
    float: none!important;
    width: auto!important;
  }
  .comment-like-favourite,
  .imgs {
  	text-align: center;
  	max-width: 430px;
  	margin: 0 auto;
  }
  .preview-content {
  	margin: 15px 0;
  }
  .users-comments {
  	float: none !important;
  	padding-top: 15px;
  	border-top: 1px solid #dfdfdf;
  }
  .countusercmts,
  .avatars-cmts {
  	display: block;
  	text-align: left;
  }
  .avatars-cmts {
  	margin: 10px 0 20px 0!important;
  	padding-bottom: 15px;
  	border-bottom: 1px solid #dfdfdf;
  }

}
@media (max-width: 480px) {
  .top-img .pull-left,
  .top-img .pull-right {
    float: none !important;
  }
  .box .chat .news-feed-item-detail > img {
    width: 36px;
    height: 36px;
  }
  .box .chat .news-feed-item-detail > .message {
    margin-left: 50px;
  }
}