/*!
 *   Journal Admin v1
 *   Author:
!*/


//RSS Home Feeds
//---------------------------------

.fa-likes-o,
.fa-likes,
.fa-favourites-o,
.fa-favourites {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	vertical-align: sub;
}
.fa-likes-o {
	background-image: url(../img/like_off.png)
}
.fa-favourites-o {
	background-image: url(../img/favorite_off.png)
}
.fa-likes {
	background-image: url(../img/like_on.png)
}
.fa-favourites {
	background-image: url(../img/favorite_on.png)
}
.co-comments,
.co-likes,
.co-favourites {
	display: inline-block;
	min-width: 55px;
	font-size: 11px;
	color: #333
}
.co-comments .fa-comment-o,
.co-comments .fa-comment {
	font-size: 18px;
	color: #999;
}

.viewmore {
	display: block;
	text-decoration: underline;
	margin-top: 10px;
	}
.rssnews-feeds {
	padding: 0!important;

	.fa {
		margin-right: 4px;
	}

	.news-feed-items {
		clear: both;
		overflow: hidden;
		padding: 0 10px 10px 10px;
		border-bottom: 1px solid #dddddd;
		margin: 15px 0;
		&:last-child {
			border-bottom: none;
		}
		.co-favourites {
			float: right;
			text-align: right;
		}
		.co-likes {
			text-align: center;
		}
		.news-feeds-image {
			float: left;
			width: 176px;
			margin-right: 30px;
			// margin-left: 45px;
			margin-bottom: 10px;

			.imgs {
				display: block;
				margin-bottom: 10px;
			}
		}
	}

	.news-feeds-preview {
		min-height: 120px;

		.news-feeds-title {
			font-weight: bold;
			font-size: 15px;
		}

		.preview {
			margin: 10px 0;
		}
	}

	.users-comments {
		float: right;

			.countusercmts {
				vertical-align: bottom;
				font-size: 12px;
			}
			.avatars-cmts {
				margin: 0 20px;

				img {
					width: 36px;
				}
			}
		}

	.date-time,
	.press {
		font-size: 12px;
	}
	.date-time {
		margin-right: 20px;
	}
}