/*!
 *   Journal Admin v1
 *   Author:
!*/


//RSS Home Feeds Detail

.mT5 {
 margin-top: 5px;
}
.box-title.alignC {
	float: none !important;
	display: block !important;
	text-align: center !important;
}
.news-feed-detail {
	width: 67.5%;
	margin: 20px auto;
	text-align: center;
	font-size: 12px;
 .top-img {
 max-width: 430px;
 margin: 0 auto 15px auto;
}
}
.news-feed-detail .news-feeds-preview-detail {
	text-align: left;
	margin-bottom: 30px;
	line-height:180%;
}
.news-feed-detail .imgs {
	max-width: 430px;
	margin: 0px auto 20px auto;
}
.news-feed-detail .imgs img {
	width: 100%;
}
.textBlue {
	color: #1e5687;
}
.box .chat.full { margin:0px; padding:0px;}
.box .chat .news-feed-item-detail {
	position: relative;
	border-bottom: 1px solid #ddd;
	padding-top: 5px;
	padding-bottom: 15px;
}
.box .chat .news-feed-item-detail img {
	float: left;
	height: 60px;
	width: 60px;
	border:none !important;
	border-radius: 0px !important;
}
.box .chat .news-feed-item-detail > .message {
	margin: 0px 100px 0px 80px;
	text-align: left;
	line-height:180%;
}
.box .chat .news-feed-item-detail > .message > .name { font-size:16px; font-weight:bold; margin-bottom:10px;}
.box .chat .news-feed-item-detail > .co-likes {
	position: absolute;
	right: 0px;
	bottom: 50%;
}
