<h1><?php echo __('Send mail successful')?></h1>
<br>
<?php echo __('We are to send your information password to email. Please check your email and create new password')?>
<a  href="../" ><?php echo __('Click here')?></a> <?php echo __('to go home.')?>